<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <!--<dubbo:application name="consumer"/>-->
    <!--&lt;!&ndash;zookeeper注册中心 &ndash;&gt;-->
    <!--<dubbo:registry address="127.0.0.1:2181" />-->
    <!--&lt;!&ndash;使用multicast广播注册中心暴露的服务地址 &ndash;&gt;-->
    <!--&lt;!&ndash;<dubbo:registryaddress="multicast://127.0.0.1:2181" /> &ndash;&gt;-->
    <!--<dubbo:annotation package="com.redcode.workbench.springbootdubbocli.controller"/>-->
    <!--<context:component-scan base-package="com.redcode.workbench.springbootdubbocli.controller"/>-->
    <!--<dubbo:reference id="cityService" interface="com.redcode.workbench.dubbo.api.CityService" />-->
</beans>
